$dark-background: #191919;
$dark-content-background: #323232;
$dark-text: #fff;
$dark-tertiary: #1e5128;
$dark-accent: #4e9f3d;

$light-background: #feffde;
$light-content-background: #fff;
$light-text: #000;
$light-tertiary: #52734d;
$light-accent: #91c788;
