$dark-background: #212121;
$dark-text: #fff;
$dark-border: #323232;
$dark-tertiary: #0D7377;
$dark-accent: #14FFEC;

$light-background: #FEFFDE;
$light-text: #000;
$light-border: #DDFFBC;
$light-tertiary: #52734D;
$light-accent: #91C788;
