@import "_variables.scss";

.portal {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
  backdrop-filter: blur(5px);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: max-content;
  min-height: max-content;
  border-radius: 0.5rem;
  overflow: hidden;

  .navItem {
    display: flex;
    width: 100%;
    min-width: max-content;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    transition: background-color 0.2s ease-in-out;
    flex-grow: 1;
    cursor: pointer;
  }
}

.inputField {
  padding-bottom: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  border-width: 1px;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .nav {
    width: 10rem;
  }

  .inputField {
    flex-direction: column;
    align-items: center;
  }
}

@media (prefers-color-scheme: dark) {
  .input {
    border-color: $dark-accent;
    background-color: $dark-background;
  }
  .nav {
    background-color: $dark-tertiary;
    border: 1px solid $dark-accent;

    .navItem {
      background-color: $dark-content-background;

      &:hover {
        background-color: $dark-tertiary;
      }
    }
  }
}
@media (prefers-color-scheme: light) {
  .input {
    border-color: $light-accent;
    background-color: $light-background;
  }
  .nav {
    background-color: $light-tertiary;
    border: 1px solid $light-accent;

    .navItem {
      background-color: $light-background;

      &:hover {
        background-color: $light-tertiary;
      }
    }
  }
}
