@import "variables";

.loginForm {
  border-width: 1px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  padding: 0.5rem;
}

.inputField {
  padding-bottom: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  border-width: 1px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.errorLabel {
  border-width: 1px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

@media (max-width: 768px) {
  .inputField {
    flex-direction: column;
    align-items: center;
  }
}

@media (prefers-color-scheme: dark) {
  .loginForm {
    background-color: $dark-content-background;
    border: 1px solid $dark-accent;
  }
  .input {
    border: 1px solid $dark-accent;
    background-color: $dark-background;
  }
  .errorLabel {
    background-color: darkred;
    border: 1px solid $dark-accent;
  }
}

@media (prefers-color-scheme: light) {
  .loginForm {
    background-color: $light-content-background;
    border: 1px solid $light-accent;
  }
  .input {
    border-color: $light-accent;
    background-color: $light-background;
  }
  .errorLabel {
    border-color: $light-accent;
    background-color: red;
  }
}
