@import "variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
  min-height: max-content;
  padding: 0 1rem;
  position: absolute;
  inset: 0;
  transition: all 0.1s ease-in-out;
  z-index: 1;
}

.headerItem {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.1s ease-in-out;
  font-weight: bold;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3vh;
  min-height: max-content;
  padding: 0 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.1s ease-in-out;
  z-index: 1;
}

.footerItem {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 0.1s ease-in-out;
  font-weight: bold;

}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: $dark-tertiary;
    color: $dark-text;
  }

  .headerItem {
    color: $dark-text;
    background-color: $dark-tertiary;
  }

  .footer {
    background-color: $dark-tertiary;
    color: $dark-text;
  }
}

@media (prefers-color-scheme: light) {
  .header {
    background-color: $light-tertiary;
    color: $light-text;
  }

  .headerItem {
    color: $light-text;
    background-color: $light-tertiary;
  }

    .footer {
        background-color: $light-tertiary;
        color: $light-text;
    }
}
