@import "../_variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
  min-height: max-content;
  padding: 0 1rem;
  position: absolute;
  inset: 0;
  transition: all 0.1s ease-in-out;
  z-index: 1;

  .headerItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 0.1s ease-in-out;
    font-weight: bold;
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: $dark-tertiary;
    color: $dark-text;

    .headerItem {
      color: $dark-text;
      background-color: $dark-tertiary;
    }
  }
}

@media (prefers-color-scheme: light) {
  .header {
    background-color: $light-tertiary;
    color: $light-text;

    .headerItem {
      color: $light-text;
      background-color: $light-tertiary;
    }
  }
}
